.create {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

input {
  width: 50%;
  height: 35px;
  border-radius: 25px;
  border: 0.5px solid gray;
  padding-left: 10px;
  margin-right: 10px;
}

.enter {
  border-radius: 100%;
  width: 35px;
  border: 0.5px solid gray;
  padding: 2px;
  font-size: 24px;
}

img {
  width: 22.5px;
}
